
<div>

  <div id="content-box">

    <div class="jumbotron-bootstrap5">

      <h4>Weclome to the Authoring and Customization Developer Sample</h4>

      <p>
        This developer sample demonstrates how to add self-service authoring capabilities and customization features
        to a custom web application developed using App-Owns-Data embedding, .NET 6 and Typescript. The Entity Framework
        is also used for the last demo to create a SQL database to persist custom metadata to support customization and 
        personalization features in an App-Owns-Data embedding scenario.
      </p>

      <ul id="demo-list">
        <li>
          <a class="nav-link" asp-controller="Home" asp-action="Demo01">
            <strong>Demo 1: Warmup Calisthenics with the Report Event Explorer</strong>
          </a>
        </li>
        <li>
          <a class="nav-link" asp-controller="Home" asp-action="Demo02">
            <strong>Demo 2: Controling Page Initialization and Customization</strong>
          </a>
        </li>
        <li>
          <a class="nav-link" asp-controller="Home" asp-action="Demo03">
            <strong>Demo 3: Managing Edit Mode and Handling a Save-As Redirect</strong>
          </a>
        </li>
        <li>
          <a class="nav-link" asp-controller="Home" asp-action="Demo04">
            <strong>Demo 4: Implementing Custom SaveAs Behavior and Saving to a Target Workspace</strong>
          </a>
        </li>
        <li>
          <a class="nav-link" asp-controller="Home" asp-action="Demo05">
            <strong>Demo 5: Adding Pages and Visuals using Code</strong>
          </a>
        </li>
        <li>
          <a class="nav-link" asp-controller="Home" asp-action="Demo06">
            <strong>Demo 6: Implementing Custom Layouts</strong>
          </a>
        </li>
        <li>
          <a class="nav-link" asp-controller="Home" asp-action="Demo07">
            <strong>Demo 7: Custom Bookmarks 101</strong>
          </a>
        </li>
        <li>
          <a class="nav-link" asp-controller="Home" asp-action="Demo08">
            <strong>Demo 8: Persisting Custom Bookmarks in a Database</strong>
          </a>
        </li>
      </ul>

    </div>

  </div>

</div>

